# Backend
erd.md
requirements.md
# backend/e-shop/http

.DS_Store
Thumbs.db
*.log
*.swp
*.swo

.idea/
*.iws
*.iml
*.ipr
*.env
.vscode/
venv/
checkdb.py
recomender/etl/data/
recomender/etl/data/processed/*.pt
seedSQL/
recomender/etl/Content_Base_Model/.gradio
venv311/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

**/target/

**/build/
.gradle/

backend/*.env
backend/.env

backend/**/*.h2.db
backend/**/*.mv.db
backend/e-shop/src/main/resources/data/*_seed_*.sql
*_seed_*.sql
*.pdf
*-requirements.md
*.jpg
**/AGENTS.md
.codex
.agents
